{% extends 'orders/base.html' %}
{% load static %}
{% block title %}О разработке{% endblock %}

{% block content %}
<div style="text-align:center">
    <h2>О разработке</h2>
</div>

<p>В этом разделе вы можете узнать подробнее про процесс создания логотипов и создание нашего сайта.</p>

<p>Все логотипы создаются вручную, каждый художник будет отвечать за то, каким получится логтип.
    Вы будете с ними на связи в течение всего процесса. И сможете контроллировать каждую мелочь.</p>

<div style="display: flex; justify-content: center;">
    <img src="{% static 'orders/images/painter.jpg' %}" alt="Художник за работой" style="max-width: 100%; height: auto;">
</div>

<p>Касаемо разработки нашего сайта, он разработан с помощью Django. Наш сайт имеет футер и хэдер,
    также статические элементы, вроде картинок и css стилей.</p>

<p>Также, наш сайт работает с SQLite, в которую записываются все данные.
    <span style="font-weight: bold">Например, в данный момент у магазина {{ logo_order_count }} заказа(ов).</span></p>
{% endblock %}