{% extends 'orders/base.html' %}

{% block title %}Заказать логотип{% endblock %}

{% block content %}
<div style="text-align:center">
    <h2>Форма заказа логотипа</h2>
</div>
<br>
<form method="post" class="order-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="display: flex; justify-content: center">
        <button type="submit">Отправить заказ</button>
    </div>
</form>

{% if form.errors %}
<div style="color: red;">
    Пожалуйста, исправьте ошибки в форме.
</div>
{% endif %}
{% endblock %}